@page "/people/create"
@inject NavigationManager navMgr
@inject IPersonRepository personRepository
@attribute [Authorize]

<h3>Create Person</h3>

<PersonForm Person="Person" OnValidSubmit="Create" />

@code {
    private Person Person = new Person();

    private async Task Create()
    {
        Console.WriteLine("creating person...");

        try
        {
            await personRepository.CreatePerson(Person);
            navMgr.NavigateTo("people");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
