@page "/genre/create"

<h3>Create Genre</h3>

<GenreForm Genre="genre" OnValidSubmit="Create"/>


@code {
    //EditForm tag can't be passed a null value
    private Genre genre = new Genre();
    private void Create()
    {
        Console.WriteLine("Create method");
        Console.WriteLine(genre.Name);
    }
}

