@page "/genre/edit/{GenreId:int}"
@inject IGenreRepository genreRepo
@inject NavigationManager navMgr
@attribute [Authorize]

<h3>Edit Genre</h3>

@if (genre != null)
{
    <GenreForm Genre="genre" OnValidSubmit="Edit" />
}

@code {
    [Parameter] public int GenreId { get; set; }

    private Genre genre;

    protected override async Task OnInitializedAsync()
    {
        genre = await genreRepo.GetGenre(GenreId);
    }

    private void Edit()
    {
        genreRepo.UpdateGenre(genre);
        navMgr.NavigateTo("genres");
    }
}
