@page "/movie/create"
@inject NavigationManager navMgr
@inject IMoviesRepository moviesRepository
@inject IGenreRepository genreRepo
@attribute [Authorize]


<h3>Create Movie</h3>

@if (NotSelectedGenres != null)
{
    <MovieForm Movie="Movie" OnValidSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenres" />

}

@code {
    private Movie Movie = new Movie();

    private List<Genre> NotSelectedGenres;

    protected async override Task OnInitializedAsync()
    {
        NotSelectedGenres = await genreRepo.GetGenres();

    }



    private async Task SaveMovie()
    {
        //Saving Movie
        Console.WriteLine(navMgr.Uri);
        //navMgr.NavigateTo("movie");
        try
        {
            var movieId = await moviesRepository.CreateMovie(Movie);
            navMgr.NavigateTo($"movie/{movieId}/{Movie.Title.Replace(" ", "-")}");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
